button {
  border-radius: 6px;
  // border: solid 1px;
  padding: 5px;
  background-color: $button;
  font-size: 0.85rem;
  cursor: pointer;
  &:hover {
    // background-color: rgba(138, 154, 91, 0.5);
    background-color: $hover;
  }
  &.active {
    // color: #fff;
    //background-color: #424242;
    background-color: $hover;
  }
  &.full-width {
    width: 100%;
  }
  &.tool-tip {
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    margin-left: 6px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // font-size: 0.75rem;
    // line-height: 1.5rem;
  }
  &.select {
    // border: solid 1px;
    border: 1px solid $dark;
    // border: 1px solid #c1c2c7;
    &:hover {
      background-color: $hover;
    }
  }
  &.token-select {
    border: 0;
    padding: 8px 0 8px 20px;
    font-size: 0.85rem;
    color: #fff;
    background-color: #000;
    border-radius: initial;
    width: 25%;
    min-width: 125px;
    text-align: left;
    &.active {
      background-color: $hover;
      color: #000;
      border-right: solid 2px gray;
    }
  }
  &.drk {
    background-color: $g200;
    &:hover {
      background-color: $hoverDrk;
      color: #ffffff;
    }
  }
}

// ######
// ### MOBILE NAV
// ######
.nav-mobile {
  padding: 2.5rem 0 0 1rem;
  @media (min-width: $md) {
    display: none;
  }
  button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    &.open .bar:nth-child(1) {
      transform: translateY(10px) rotate(45deg);
    }

    &.open .bar:nth-child(2) {
      opacity: 0;
    }

    &.open .bar:nth-child(3) {
      transform: translateY(-10px) rotate(-45deg);
    }
  }
}
.nav-wrap__mobile {
  button {
    background-color: initial;
    border-radius: 6px;
    padding: 6px 7px;
    text-align: left;
    color: $hover;
    font-weight: 600;
    &:hover,
    &:active {
      //color: color-mix(in srgb, $hover, white 30%);
      background-color: color-mix(in srgb, $bg, white 90%);
    }
  }
}

/* Individual bars styling */
.bar {
  width: 100%;
  height: 4px;
  background-color: #333;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}
