$sm: 480px;
$md: 768px;
$lg: 1024px;

// colors
$button-hov: rgb(192, 192, 179);
$highlight1: #ed7b58;
$highlight2: #b22222;
$highlight3: #0066ff;
$highlight4: #9c27b0;

// Grays
$g200: #cbd1d7;

// Buttons
$button: #ffffff;
$hover: #a2adb9;
$hoverDrk: #8b96a2;
$selectDrk: #74808b;
